@model PhoneRecord
@{
    <table align="center">
        <thead>
            <tr>

                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Номер телефона</th>
                <th>Адрес</th>
                <th>Описание</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>@Model.id</td>
                <td>@Model.surname</td>
                <td>@Model.name</td>
                <td>@Model.patronymic</td>
                <td>@Model.number</td>
                <td>@Model.address</td>
                <td>@Model.description</td>

                </tr>

        </tbody>

    </table>
}